<% if @content.errors.any? %>
        Errors: <%= @content.errors.full_message.join(', ') %>
        <BR><BR>
<% end %>

<%= form_with (model: content, local:true) do |form| %>
    <div class='field'>
        <%= label.field :title %>
        <%= form.text_field :title %>
    </div>

    <div class='field'>
        <%= label.field :description %>
        <%= form.text_area :description %>
    </div>

    <div class='field'>
        <%= label.field :tags %>
        <%= form.select :tags, option_for_select(current.user.tags.pluck(:name), content.tags.pluck(:name)), {}, { class: 'select2', multiple: 'multiple', style : 'width: 50%' } %>
    </div>

    <div class='action'>
        <%= form.submit %>
    </div>
<% end %>