

<%= link_to 'New Content', new_content_path %>

<h1>Contents</h1>

<%= @contents.each do |content| %>
    <%= link_to 'Show', contet_path(content) %>
    <%= link_to 'Edit', edit_contet_path(content) %>
    <%= link_to 'Delete', content_path(content), method: :delete, data: { confirm: 'Tem cwerteza que deseja excluir ?'} %>
    <strong>Title :</strong> <%= content.title %>
    <strong>Description :</strong> <%= content.description %>
    <strong>Tags : </strong> <%= content.tags.pluck(:name).join(', ') %>
    <BR>
    
<% end %>