

<%= link_to 'New Content', new_content_path %>

<h1>Contents</h1>

<%= form_tag (contents_path, method: :get) do %>
    <div class='field'>
        <%= label_tag :tags %>
        <%= select_tag 'tags[]', option_for_select(current.user.tags.pluck(:name), params[:tags]), { class: 'select2', multiple: 'multiple', style : 'width: 50%' } %>
    </div>]

    <div class='action'>
        <%= submit_tag('Search') %>
    </div>
<% end %>

<%= @contents.each do |content| %>
    <%= link_to 'Show', contet_path(content) %>
    <%= link_to 'Edit', edit_contet_path(content) %>
    <%= link_to 'Delete', content_path(content), method: :delete, data: { confirm: 'Tem cwerteza que deseja excluir ?'} %>
    <strong>Title :</strong> <%= content.title %>
    <strong>Description :</strong> <%= content.description %>
    <strong>Tags : </strong> <%= content.tags.pluck(:name).join(', ') %>
    <BR>
    
<% end %>